html
  head
    title= "Add a movie"
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous")
  body
    div(class="container mt-5")
      div(class="d-flex justify-content-between")
        div(class="")
          h1 Add a Movie
        div(class="")
          a(class="btn btn-info" href="/movies") Back to Browse
      form(action="/movies/add", method="POST")
        div(class="form-group")
          label(for="title") Title: 
          input(class="form-control" name="title" type="text" value="")
          br
          label(for="director") Director: 
          input(class="form-control" name="director" type="text" value="")
          br
          label(for="description") Description: 
          textarea(cols="30" rows="5" class="form-control" name="description" value="")
          br
          label(for="genre") Genre: 
          input(class="form-control" name="genre" type="text" value="")
          br
          label(for="date_watched") Date Watched:
          input(class="form-control" name="date_watched" type="text" value="")
          br
          label(for="austin_rating") Austin's Rating:
          input(class="form-control" name="austin_rating" type="text" value="")
          br
          label(for="connor_rating") Connor's Rating:
          input(class="form-control" name="connor_rating" type="text" value="")
          br
          input(class="btn btn-success" type="submit", value="Add")