html
    head
        title= "Add a movie"
    body
        h1 Add a Movie
        form(action="/movies/add", method="post")
        label(for="title") Title: 
            input(name="title" type="text" value="")
            br
        label(for="director") Director: 
            input(name="director" type="text" value="")
            br
        label(for="description") Description: 
            input(name="description" type="text" value="")
            br
        label(for="genre") Genre: 
            input(name="genre" type="text" value="")
            br
        label(for="date_watched") Date Watched:
            input(name="date_watched" type="text" value="")
            br
        label(for="austin_rating") Austin's Rating:
            input(name="austin_rating" type="text" value="")
            br
        label(for="connor_rating") Connor's Rating:
            input(name="connor_rating" type="text" value="")
            br
        button(type="submit") Add