html
  head
    title= "Watchlist"
  body
    h1= "Movies"
    a(type="button" href="movies/add") Add Movie
    ul
      each val in watchlist 
        li= val.title
        a(type="button" href=`/movies/view/${val._id}`) Edit
        
        